<h1>Options</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Accept</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>name</td>
      <td>Anything</td>
      <td>John Doe</td>
      <td>Initials will be generated from this name. Will be used to generate <code>background</code> if not specified.</td>
    </tr>
    <tr>
      <td>size</td>
      <td>16 to 512</td>
      <td>64</td>
      <td>Size of the image.</td>
    </tr>
    <tr>
      <td>color</td>
      <td>Any color</td>
      <td>white</td>
      <td>Font color.</td>
    </tr>
    <tr>
      <td>bg</td>
      <td>Any color</td>
      <td>indefined</td>
      <td>Background color. Will use generated color from <code>name</code> if not specified.</td>
    </tr>
    <tr>
      <td>ratio</td>
      <td>20 to 80</td>
      <td>40</td>
      <td>Ratio of font size to image.</td>
    </tr>
    <tr>
      <td>rounded</td>
      <td><code>true</code> or <code>false</code></td>
      <td>false</td>
      <td>Generate round image. <i>Not recommended.</i></td>
    </tr>
  </tbody>
</table>